################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/808DesktopApp/v15
/808DesktopApp/bin/Debug/sourceFilePath
/808DesktopApp/bin/Debug/DesktopDb.db
